* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.title {
  color: white;
  padding: 10px;
  display: inline-block;
  background-color: #800080; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 28px;
}

.bold {
  font-weight: 700;
  color: #800080;
}

.tech-section {
  padding: 80px 20%;
  text-align: center;
  line-height: 1.5em;
}

.tech-section .text {
  font-size: 16px;
}


footer {
  background-color: #800080;
  color: white;
  text-align: center;
  padding: 50px;
} 

footer p {
  line-height: 12px; 
  color: white;
}

.footer .link {
  text-decoration: none;
  color: white;
}

.footer .link:hover{
  text-decoration: underline;
}

.footer .email {
  display: inline;
}

