.header {
  border-bottom: 3px solid white; 
  position: relative;
  width: 100%;
  height: 450px;
}

.header .hero {
  position: absolute;
  background: url('./images/hero.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* Text */

.header .text {
  position: absolute;
  top: 185px;
  left: 20%;
  color: #fff;
}

.header .text h2 {
  font-family: 'Roboto', sans-serif; 
  font-size: 18px;
  letter-spacing: 1.1px;
  font-weight: 400;
  margin: 0;
}

.header .text h2 .name {
  font-weight: 700;
}

.header .text h1 {
  width: 400px;
  font-size: 40px;
  font-weight: 700;
  margin: 15px 0;
}

.header .text h3 {
  width: 400px;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

/* Icons */

.header .icons {
  position: absolute;
  top: 100px;
  right: 20%;
  display: flex;
  flex-direction: row;
}

.header .icons .icon {
  border: 2px solid white;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
}

.header .icons .icon .image {
  display: block;
  width: 20px;
}

/* Profile picture */

.header .picture {
  position: absolute;
  right: 20%;
  bottom: -15px;
  width: 200px;
  border: 2px solid #fff;
  border-radius: 100%;
}

@media (max-width: 1000px) {
  .header {
    height: 600px;
  }


  .header .text h1 {
    width: 200px;
  }

  .header .text h3 {
    width: 300px;
  }
}


@media (max-width: 450px) {
  .header .text {
    left: 10%;
  }
}


/* ======= */
/* 
.picture {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -100px;
  margin-top: -92px;
}

.picture img {
  border-radius: 50%;
  border: 3px solid white;
}


.header-icon-container, .header-picture img {
  width: 250px;
  position: absolute;
}

.header-icon-row {
  display: flex;
  justify-content: flex-end;
}

.header-icon-container {
  display: flex;
  justify-content: center;
}

.header-icon, header a {
  height: 70px;
}

.header-text {
  text-align: left;
} */

/* 
@media (max-width: 767px) {
  header {
    padding: 100px 40px;
  }

  .header-text {
    margin: 20px 0;
  }

  .header-icon-container, .header-picture img {
    width: 150px;
  }

  .header-icon, header a {
    height: 50px;
  }

  .header-picture {
    margin-bottom: -110px;
    margin-top: 30px;
  }
} */
