.skills-section {
  padding: 80px 20%;
  text-align: center;
}

.skills-section .skill-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.skills-section .list {
  list-style: none;
  width: 150px;
  margin: 20px;
  padding: 0;
}
